html, body {

}

body {
  margin: 10px;
  display: flex;
    background-color:black;


  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
