body {
  background-color: pink;
}

h1 {
  margin-top: 40px;
  font-family: "Bebas Neue";
}

a {
  margin-top: 40px;
  margin-left: 5px;
  margin-bottom: 25px;
  font-size: 80px;
  font-family: "Bebas Neue";
  color: black;
  text-decoration: none;
}

#status {
  font-size: 40px;
  font-family: "Shadows Into Light", cursive;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 60px;
  color: #CC7D9E;
}

#logo {
  margin-top: 15px;
  widthh: 65px;
  height: 65px;
  margin-left: 10px;
  float:left;
  
}